.button-group {
    display: flex;
    justify-content: space-between;
}

.bell {
    margin: auto 10px;
}

.bell i:before {
    font-size: 22px !important;
}

header {
    height: 60px;
    --bs-bg-opacity: .7 !important;
}

footer {
    height: 60px;
    --bs-bg-opacity: .7 !important;
    margin-top: 0 !important;
}

body {
    --bs-bg-opacity: .7 !important;
}

a {
    text-decoration: none !important;
}

.nav-link:hover {
    color: #fff;
    text-decoration: none;
    filter: drop-shadow(0 0 5px #ffffff);
}

.card-row {
    padding: 50px 20px;
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    max-width: 1000px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 auto;
}

.widget {
    background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.widget-row {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.content {
    min-height: calc(100vh - 130px);
    margin: 0 auto;
}

.avatar {
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

.col-card {
    border: none;
    padding: 0;
    min-width: max(30%, 288px);
    max-width: 30%;
    margin: 30px 10px 0 10px;
    cursor: pointer;
}

.col-card:hover {
    min-width: calc(30% + 20px);
    max-width: calc(30% + 20px);
    margin: 20px 0 0 0;
    filter: drop-shadow(0 0 10px #ffffff);
    /*box-shadow: -5px -5px 20px #ffffff;*/
}
.margin-top {
    margin-top: 10px;
}
.card {
    border-radius: 10px;
}

.card-body {
    border-radius: 10px;
}

.col:hover a .avatar {
    filter: drop-shadow(0 0 5px #ffffff);
}

.img-wrapper img {
    display: block;
    margin: auto;
}

.card-text {
    border-top: 1px solid #CCC; padding-top: 5px; margin-top: 10px;
}

/* Header */

header {
    height: 70px;
    --bs-bg-opacity: .7 !important;
}

header .form-control-dark {
    color: #fff;
    background-color: var(--bs-dark);
    border-color: var(--bs-gray);
}

header .form-control-dark:focus {
    color: #fff;
    background-color: var(--bs-dark);
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

header .bi {
    vertical-align: -.125em;
    fill: currentColor;
}

header .bi::before {
    font-size: 2rem;
}

.nav-link:hover {
    color: #fff;
    text-decoration: none;
    filter: drop-shadow(0 0 5px #ffffff);
}

.bunch-choices {
    margin-bottom: 10px;
    padding: 0 0 0 20px !important;
    height: 48px !important;
}
