
.form {
    margin-top: 16%;
}

h1 {
    text-align: center;
}

.form-wrapper {
    width: 320px;
    margin: auto;
    border-radius: 10px
}

.profile-form {
    margin-top: 10px;
}

.password-change {
    margin-top: 7%
}

.form-text {
    width: 500px;
    padding: 20px;
}

.form-wrapper form {
    padding: 20px;
}

.form-floating input {
    height: 40px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;

    display: block;
    width: 100%;

    font-size: 1rem;

    background-clip: padding-box;

    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-floating input::placeholder {
    color: #999999 !important;
}

.label-text {
    margin-bottom: 0 !important;
}

.sign-link-wrapper {
    max-width: 195px;
    margin: 10px auto;
}

.sign-link {
    color: #888;
    font-size: 13px;
    text-decoration: underline;
    display: block;
    text-align: center;
    margin: 0 auto;
}

.sign-link:hover {
    color: #fff;
    margin: 0 auto;
}

.input-file {
    font-size: 14px;
    font-weight: 500;
    line-height: 40px !important;

    width: 100%;
    max-width: 290px;
    height: 40px;
    background: #0d6efd !important;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    margin: 10px auto;
    padding: 10px !important;
}

.role {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    height: 40px !important;
}
