{% load static %}

<link rel="stylesheet" href="{% static 'css/form_grid.css' %}">

{% with timeline.get_small_table_data as table_data %}
{% with hours=table_data.hours data=table_data.data %}

<div class="overflow-auto">
<table class="small-tl-table">
    <thead>
        <tr>
            <th scope="col">День</th>
            {% for hour in hours %}
                <th scope="col" class="table-header">{{ hour }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row_data in data %}
            <tr>
                <th scope="row">{{ row_data.caption|capfirst }}</th>
                {% for hour in row_data.weekday.timeline %}
                    <td class="{% if hour %}busy-hour{% else %}vacant-hour{% endif %}"></td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>

{% endwith %}
{% endwith %}