<div class="col"
     style="border: none; padding: 0; min-width: 30%;
         max-width: 30%;margin: 30px 0 0 0; cursor: pointer">
  <a href="{% url 'user_detail' user.id %}"
     style="text-decoration: none; color: #fff">
    <div class="card shadow-sm" style="border-radius: 10px;">
      <div class="card-body bg-dark text-white"
           style="border-radius: 10px;">
        <div class="img-wrapper"><img src="{{ user.photo.url }}" alt="Нет изображения" class="avatar"></div>
        <p class="card-text">
          Username:
          {% if user.username %}{{ user.username }}{% else %}Отсутствует{% endif %}
          <br>

          Email:
          {% if user.email %}{{ user.email }}{% else %}Отсутствует{% endif %}
          <br>

          Имя:
          {% if user.first_name %}{{ user.first_name }}{% else %}Отсутствует{% endif %}
          <br>

          Фамилия:
          {% if user.last_name %}{{ user.last_name }}{% else %}Отсутствует{% endif %}
          <br>

          Роль:
          {% if user.role %}{{ user.role }}{% else %}Отсутствует{% endif %}
          <br>

        </p>

      </div>
    </div>
  </a>
</div>