{% extends "base.html" %}
{% load static %}
{% block title %}Домашнее задание{% endblock %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href={% static "css/profile.css" %}>
  <link rel="stylesheet" type="text/css" href={% static "css/hometask.css" %}>{% endblock %}
{% block content %}

  <div class="widget hometask">
    <h1 class="hometask-title">{{ hometask.title }} <span class="teacher"><a
            href="{% url "user_detail" hometask.teacher.id %}">({{ hometask.teacher }})</a></span></h1>
    <div class="hometask-content">
      <p class="hometask-description">{{ hometask.description }}</p>
      {% if hometask.files %}
      <span>Прекрипленный файл: <a
              href="{% url 'hometask_download' hometask.get_file_name %}">{{ hometask.get_file_name }}</a></span>
      {% endif %}
    </div>
  </div>

  {% if user.role == "Teacher" and bunches %}
    <div class="widget hometask">
      <h1 class="hometask-title">Назначить задание</h1>
      <form method="post">
        {% csrf_token %}
        <select name="student-id">

          {% for student_id, student_name in bunches %}
            <option value="{{ student_id }}">{{ student_name }}</option>
          {% endfor %}
        </select>

        <button class="edit" type="submit">
          Назначить
        </button>
      </form>

      {% if users %}
        <h2>Ученики</h2>
        {% for user in users %}
          <span>{{ user.student.first_name }}: {% if user.is_completed %}{{ user.is_completed }}Выполнено{% else %}Не выполнено{% endif %}</span><br>
        {% endfor %}
      {% endif %}
    </div>
  {% endif %}

{% endblock %}