{% extends "base.html" %}
{% load static %}
{% block title %}Мой профиль{% endblock %}
{% block scripts %}
  <script src="{% static "/js/send_message.js" %}" type="text/javascript"></script>
{% endblock %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href={% static "css/profile.css" %}>
  <link rel="stylesheet" type="text/css" href={% static "css/chat.css" %}>{% endblock %}
{% block content %}

  <div class="chat">
    <div class="widget messages-list-wrapper">
      <div class="messages-list overflow-auto" id="messages-list">
        {% for message in chat_messages %}
          <div class="message">

            <a href="{% url "user_detail" message.owner.id %}">
              <div class="img-wrapper">{{ message.owner.photo_tmb }}</div>
            </a>
            <div class="message-text">

              <div>
                <a href="{% url "user_detail" message.owner.id %}"><span class="friend_name">{{ message.owner.first_name }}</span></a>
                <span class="message-time">{{ message.time }}</span>
              </div>

              <div><span class="text-value">{{ message.text }}</span></div>
            </div>

          </div>
        {% endfor %}
      </div>
      <form method="post" class="input-box">
        {% csrf_token %}
        <div class="input-wrap">
          {{ form.text }}
        </div>
        <button class="send-button" type="submit" id="send-mess-btn"><i class="bi bi-send-fill"></i></button>
      </form>
    </div>
  </div>

{% endblock %}
