{% extends "form_base.html" %}

{% load static %}
{% block title %}Вход{% endblock %}

{% block content %}
  <main class="form">

    <div class="form-wrapper bg-dark">

      <form style="padding: 20px;" method="post">
        {% csrf_token %}
        <h1 class="h3 mb-3 fw-normal">Пожалуйста войдите</h1>

        <div class="form-floating">{{ form.email }}</div>
        <div class="form-floating">{{ form.password }}</div>

        <button class="w-100 btn btn-lg btn-primary" type="submit">Войти</button>
        <div class="sign-link-wrapper">
          <a href="{% url "signup" %}" class="sign-link">Еще нет аккаунта ?</a>
          <a href="{% url "password_reset" %}" class="sign-link">Не можете войти ?</a>
        </div>
        <p class="mt-5 mb-3 text-muted label-text">© 2022</p>
      </form>

    </div>
  </main>
{% endblock %}

