{% extends "form_base.html" %}

{% load i18n static %}

{% block title %}Изменить пароль{% endblock %}

{% block content %}
  <main class="form" style="margin-top: 7%">

    {% if form.errors %}
      <script>
          {% if form.errors.items|length == 1 %}
              alert('{% translate "Please correct the error below." %}){% else %}
              alert('{% translate "Please correct the errors below." %}){% endif %}
      </script>
    {% endif %}

    <div class="form-wrapper bg-dark" style="width: 320px">

      <form style="padding: 20px;" method="post">
        {% csrf_token %}
        <h1 class="h3 mb-3 fw-normal">{% translate 'Change password' %}</h1>

        <div class="form-floating ">
          {{ form.old_password.errors }}
          {{ form.old_password }}
        </div>
        <div class="form-floating ">
          {% if form.new_password1.help_text %}

            <div class="help"><p>Критерии нового пароля:</p>{{ form.new_password1.help_text|safe }}</div>
          {% endif %}
        </div>

        <div class="form-floating ">
          {{ form.new_password1.errors }}
          {{ form.new_password1 }}
        </div>

        <div class="form-floating">
          {{ form.new_password2.errors }}
          {{ form.new_password2 }}
          {% if form.new_password2.help_text %}
            <div class="help">{{ form.new_password2.help_text|safe }}</div>
          {% endif %}
        </div>

        <input type="submit" value="{% translate 'Change my password' %}"
               class="w-100 btn btn-lg btn-primary" id="submit">

      </form>
    </div>
  </main>



{% endblock %}
