{% extends "form_base.html" %}

{% load i18n static %}
{% block title %}Успешно{% endblock %}
{% block content %}
<main class="form" style="margin-top: 7%">
<div class="form-wrapper bg-dark" style="width: 500px; padding: 20px">
<p>{% translate 'We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.' %}</p>
<p>{% translate 'If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.' %}</p>
</div>
</main>
{% endblock %}
