{% extends "base.html" %}
{% load static %}
{% block title %}Мой профиль{% endblock %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href={% static "css/profile.css" %}>{% endblock %}
{% block content %}

  <div class="widget-row">

  <div class="col col-profile">
    <div class="profile widget">
      {{ user.get_photo }}
      <button class="edit">Edit</button>
    </div>
    <div class="friends widget">
      <h6>
        Подписчики
      </h6>
      <div class="friends_wrapper">
        {% for follow in follows|slice:":6" %}

          <a class="friend_item" href="#">
            <div class="img-wrapper">
            {{ follow.user_from.photo_tmb }}</div>
            <span class="friend_name">{{ follow.user_from.first_name }}</span>
          </a>



        {% endfor %}
      </div>
    </div>
  </div>

  <div class="data">

    <div class="widget">
      <div class="bio">
        <div class="name">{{ user.first_name }} {{ user.last_name }}</div>
        <div class="status">{{ user.email }}</div>
        <div class="status">{{ user.role }}</div>
      </div>
    </div>
  </div>
{% endblock %}
