{% extends "form_base.html" %}

{% load static %}

{% block scripts %}
  <script src="../../static/js/signup.js" type="text/javascript"></script>
{% endblock %}

{% block content %}
  <main class="form">
    <div class="form-wrapper bg-dark">

      <form method="post">
        {% csrf_token %}

        <h1 class="h3 mb-3 fw-normal">Регистрация</h1>


        <div class="form-floating ">
          {{ form.username }}
        </div>
        <div class="form-floating ">
          {{ form.email }}
        </div>
        <div class="form-floating">
          {{ form.password1 }}
        </div>
        <div class="form-floating">
          {{ form.password2 }}
        </div>


        <div class="form-floating ">
          {{ form.first_name }}
        </div>
        <div class="form-floating ">
          {{ form.last_name }}
        </div>
        <div class="form-floating">
          {{ form.role }}
        </div>
        <div class="form-floating">
          {{ form.photo }}
        </div>


        <div class="w-100 btn btn-lg btn-primary" id="submit">Зарегистрироваться
        </div>
        <div class="sign-link-wrapper">
          <a href="{% url 'login' %}" class="sign-link">Уже есть аккаунт ?</a>
        </div>
      </form>
    </div>
  </main>


{% endblock %}


