{% extends "base.html" %}
{% load static %}
{% block title %}Мой профиль{% endblock %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href={% static "css/profile.css" %}>{% endblock %}
{% block content %}

  <div class="widget-row d-flex">

  <div class="col col-profile">
    <div class="profile widget">
      {{ user_detail.get_photo }}
      {% if user == user_detail %}
        <a class="text-white" href="{% url 'user_detail_edit' user.id %}">
          <button class="edit">
            Редактировать
          </button>
        </a>
      {% else %}
        <form method="post">
          {% csrf_token %}
          <button class="edit" type="submit">
            {% if already_follow %}Отписаться{% else %}Подписаться{% endif %}
          </button>
        </form>


      {% endif %}
    </div>
    {% if follows %}
      <div class="friends widget">

        <h6>
          <a class='nav-link text-white' href="{% url 'user_detail_follows' user_detail.id %}">Подписчики</a>
        </h6>
        <div class="friends_wrapper">
          {% for follow in follows|slice:":6" %}
            <a class="friend_item" href="{% url 'user_detail' follow.user_from.id %}">
              <div class="img-wrapper">
                {{ follow.user_from.photo_tmb }}</div>
              <span class="friend_name">{{ follow.user_from.first_name }}</span>
            </a>
          {% endfor %}
        </div>
      </div>
    {% endif %}

  </div>

  <div class="data">

    <div class="widget">
      <div class="bio">
        <div class="name">{{ user_detail.first_name }} {{ user_detail.last_name }}</div>
        <div class="status">{{ user_detail.email }}</div>
        <div class="status">{{ user_detail.role }}</div>
      </div>
    </div>
    {% if user_detail.timeline %}
    <div class="widget">
        {% with user_detail.timeline as timeline %}{% include "includes/timeline_view.html" %}{% endwith %}
    </div>{% endif %}
  </div>

  <div class="data">
    <div class="widget">
  {% if all_ratings.star__avg %}
      <span class="text-muted">
          Средняя оценка: 
      </span>
      <span class='badge bg-warning'>{{all_ratings.star__avg}}</span></br>
          <span class="text-muted">
              Всего оценок: 
          </span>
      <span class='badge bg-success'>{{all_ratings.star__count}}</span>
      {% else %} <span class="text-muted">
          Пока нет ни одной оценки :(
      </span>
      {% endif %}
    </div>
  </div>
            
  {% if not current_user is user.id and current_user.role != user.role %}
  <div class="data">
    <div class="widget">
      {% if already_follow %}
      {% if rating %}
      <h3>Ваша оценка: {{rating}}</h3>
      {% endif %}
      <form method="post">
        {% csrf_token %}
        {{rating_form.as_p}}
        <button class="edit" type="submit">
          Оценить
        </button>
      {% else %} <p>Оценку ставить могут только подписчики</p>
      {% endif %}
      </form>
    </div>
  </div>
  {% endif %}
  
{% endblock %}
