{% extends "base.html" %}
{% load static %}
{% block title %}Мой профиль{% endblock %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href={% static "css/profile.css" %}>{% endblock %}
{% block content %}

  <div class="widget-row">

  <div class="col col-profile">
    <div class="profile widget">
      {{ user_detail.get_photo }}
      {% if user == user_detail %}
        <a class="text-white" href="{% url 'user_detail_edit' user.id %}">
          <button class="edit">
            Редактировать
          </button>
        </a>
      {% else %}
        <form method="post">
          {% csrf_token %}
          <button class="edit" type="submit">
            {% if already_follow %}Отписаться{% else %}Подписаться{% endif %}
          </button>
        </form>


      {% endif %}
    </div>
    {% if follows %}
      <div class="friends widget">

        <h6>
          <a class='nav-link text-white' href="{% url 'user_detail_follows' user_detail.id %}">Подписчики</a>
        </h6>
        <div class="friends_wrapper">
          {% for follow in follows|slice:":6" %}
            <a class="friend_item" href="{% url 'user_detail' follow.user_from.id %}">
              <div class="img-wrapper">
                {{ follow.user_from.photo_tmb }}</div>
              <span class="friend_name">{{ follow.user_from.first_name }}</span>
            </a>
          {% endfor %}
        </div>
      </div>
    {% endif %}

  </div>

  <div class="data">

    <div class="widget">
      <div class="bio">
        <div class="name">{{ user_detail.first_name }} {{ user_detail.last_name }}</div>
        <div class="status">{{ user_detail.email }}</div>
        <div class="status">{{ user_detail.role }}</div>
      </div>
    </div>
  </div>
{% endblock %}
